DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=dusr.sa,www.dusr.sa,82.223.81.234
DJANGO_CSRF_TRUSTED_ORIGINS=https://dusr.sa,https://www.dusr.sa,http://82.223.81.234
DJANGO_EMAIL_HOST=smtp.office365.com
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_USE_TLS=true
DJANGO_EMAIL_USE_SSL=false
DJANGO_EMAIL_HOST_USER=info@dusr.sa
DJANGO_EMAIL_HOST_PASSWORD=change-me
DJANGO_EMAIL_TIMEOUT=10
DJANGO_DEFAULT_FROM_EMAIL=Dusr <info@dusr.sa>
DJANGO_CONTACT_EMAIL=info@dusr.sa
